<% @categories.each do |category| %>
        <%= link_to category_path(category) do %>
          <h1>
            <i class="fas fa-cannabis"></i>
            <%= category.title %>
            <i class="fas fa-cannabis"></i>
          </h1>
        <% end %>
        <section class="cards">
          <% category.products.each do |product| %>
            <article class="card">
              <picture class="img-wrap">
              </picture>
              <div class="card-content">
                <div class="info-wrap">
                  <div class="info-wrap-product">
                    <%= link_to category_product_path(category.id, product.id) do %>
                      <h3><%= product.title %> <% end %> </h3>
                  </div>
                      <div class="desc">
                          <p><%= product.description %>
                        <%= link_to category_product_path(category.id, product.id) do %>
                          <i class="far fa-arrow-alt-circle-right"></i></p>
                      </div>
                    <%end%>

                      <div class="price-wrap">
                        <span class="price-new"><%= number_to_currency product.price %></span>
                        <del class="price-old"><%=number_to_currency product.price * 1.02 %> </del>
                      </div>
                </div>
                <div class="bottom-wrap">
                  <form class="form-inline" action="/cart/items" method="POST">
                    <div class="form-group">
                      <%= hidden_field_tag :product_id, product.id %>
                      <%= hidden_field_tag :category_id, category.id %>
                      <%= hidden_field_tag :photo, product.photo %>
                      <%= number_field_tag :quantity, 1, class: "form-control", min: "1", max: "20"%>
                    </div>
                    <div class="form-group">
                      <%= submit_tag "Add to Cart", class: "btn btn-primary" %>
                    </div>
                  </form>
                </div>
              </div>
            </article>
          <%end%>
        </section>
      <%end%>
      <div  class="">
      </div>
    </div>
  </main>
</div>
